body {
	background-image: url("../images/background.jpg");

}

h1 {
	background-color: #DDA0DD;
	width: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

}

.container1 {
	background-color: purple;
	width: 40%;
	font-size: 20px;
	font-weight: bold;
	color: pink;
	padding-top: 20px;
	padding-bottom: 70px;
}

.randomNumber {
	background-color: #40E0D0;
	width: 33.3%;
	margin-top: 20px;
	font-size: 25px;
	padding-bottom: 50px;
	float: left;
	margin-bottom: 20px;
}


.scorebox {
	float: left;
	width: 15%;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #BA55D3;
	padding-bottom: 13px;
}

.buttonscontainer {
	clear: both;
	width: 50%;
	overflow: auto;


}

.sp {
	background-color: #87CEFA;
	width: 33.3%;
	font-size: 20px;

}

.totalscore {
	background-color: #87CEFA;
	width: 33.3%;
	font-size: 30px;

}




